---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Veille | William Balmat" description="Veille de William Balmat">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Veille technologique"
			>
            <div class="image-container">
				<img
					width="400"
					height="873"
					src="/assets/feedly.jpg"
					alt="Feedly"
                    class="centered-image"
				/>
            </div>
			</Hero>

			<section>
				<h2 class="section-title">Définition</h2>
				<div class="content">
					<p>
						Feedly est une application web et mobile qui permet aux utilisateurs de suivre les actualités de différents sites web, blogs et autres sources d'information. Les utilisateurs peuvent créer des collections de flux RSS pour suivre des sujets spécifiques et rester informés des dernières nouvelles et publications.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Mes actualités</h2>
				<div class="content">
					<p>
						<a href="https://www.journaldugeek.com/2024/04/05/stargate-microsoft-et-openai-veulent-un-supercalculateur-a-100-milliards/">Stargate : Microsoft et OpenAI veulent un supercalculateur à 100 milliards</a>
					</p>
					<p>
						<a href="https://www.tomshardware.fr/le-razer-blade-18-edition-2024-son-core-i9-et-sa-rtx-40-sont-vendus-a-prix-dor/">Le Razer Blade 18 édition 2024</a>
					</p>
					<p>
						<a href="https://www.journaldugeek.com/2024/04/05/jeu-video-les-premieres-conferences-de-lete-sont-confirmees/">Jeu vidéo : les premières conférences de l’été sont confirmées</a>
					</p>
					<p>
						<a href="https://www.manga-news.com/index.php/actus/2024/04/03/Les-sorties-manga-de-la-semaine">Les sorties manga de la semaine</a>
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

    .image-container {
    display: flex;
    justify-content: center;
  }

    .centered-image {
        display: block;
    }

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
