---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Veille | William Balmat" description="Veille de William Balmat">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Veille technologique"
			>
            <div class="image-container">
				<img
					width="400"
					height="873"
					src="/assets/feedly.jpg"
					alt="Feedly"
                    class="centered-image"
				/>
            </div>
			</Hero>

			<section>
				<h2 class="section-title">Découvrir</h2>
				<div class="content">
					<p>
						Lycéen et indécis sur le choix de mon orientation, j'ai décidé d'aller dans une filière informatique car j'adorais les nouvelles technologies et les jeux vidéos.
					</p>
					<p>
						Le développement m'a permis de découvrir une nouvelle facette de l'informatique ainsi que du jeu vidéo.
					</p>
					<p>
						J'ai également, lors de ces 2 années, fait de belles rencontres et découvert l'univers de la crypto-monnaie.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes et Travails</h2>
				<div class="content">
					<p>
						BAC options Mathématiques et Sciences économiques et sociales.
					</p>
					<p>
						J'ai effectué un job d'été à la mairie du Pradet.
					</p>
					<p>
						Dans le cadre de mon BTS SIO j'ai beaucoup appris lors de mes 2 stages en entreprise chez TPM.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Curieux de découvrir, Travail d'équipe, Organisé, Dynamique</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

    .image-container {
    display: flex;
    justify-content: center;
  }

    .centered-image {
        display: block;
    }

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
