---
import Icon from './Icon.astro';

---
<script src="https://code.iconify.design/iconify-icon/2.0.0/iconify-icon.min.js"></script>

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<h2>Langages :
			<br>
		<iconify-icon icon="devicon:html5" width="2.5rem" height="2.5rem"></iconify-icon> 
		<iconify-icon icon="logos:css-3" width="3rem" height="3rem"></iconify-icon>
		<iconify-icon icon="skill-icons:javascript" width="2.5rem" height="2.5rem"></iconify-icon>
		<iconify-icon icon="logos:php" width="3rem" height="3rem"></iconify-icon>
		<iconify-icon icon="devicon:csharp" width="2.5rem" height="2.5rem"></iconify-icon>
		<iconify-icon icon="skill-icons:github-light" width="2.5rem" height="2.5rem"></iconify-icon>
		</h2>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<h2>Frameworks :
			<br>
			<iconify-icon icon="devicon:vuejs" width="2.5rem" height="2.5rem"></iconify-icon>
			<iconify-icon icon="logos:laravel" width="2.5rem" height="2.5rem"></iconify-icon>
			<iconify-icon icon="skill-icons:symfony-light" width="2.5rem" height="2.5rem"></iconify-icon>
		</h2>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<h2>Base de donnée :
			<br>
			<iconify-icon icon="logos:mysql" width="3.5rem" height="3.5rem"></iconify-icon>
			<iconify-icon icon="logos:mariadb-icon" width="3.5rem" height="3.5rem"></iconify-icon>
		</h2>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
